################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MSPanel.ico
/MoveSensorPanel.spec
/config.json
